body {
    width: 100%;
}
    header {
    text-align: center;
    font-size: 20px
    font-weight: bold;
    font-style: italic;
}
header h1 {
    color: blue;
    font-size: 25px;
    text-decoration: underline;
}
header p {
    color: yellowgreen;
    font-size: 20px;
}
.container {
    color: red;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    font-style: italic;
}
.container p {
    padding: 10px;
    text-align: center;
    align-items: center;
}